<header class="bg-gray-800 text-white shadow-md sticky top-0 z-50">
  <nav class="container mx-auto px-4 py-3 flex justify-between items-center">
    <a routerLink="/" class="text-2xl font-bold hover:text-gray-300">Termageddon</a>
    <div class="flex items-center space-x-4">
      <div *ngIf="isLoggedIn$ | async; else showLogin">
        <ng-container *ngIf="currentUser$ | async as user">
            <a routerLink="/" 
               routerLinkActive="bg-gray-700" 
               [routerLinkActiveOptions]="{exact: true}"
               class="px-4 py-2 hover:bg-gray-700 rounded-md">Glossary</a>
            <a routerLink="/review" 
               routerLinkActive="bg-gray-700"
               class="px-4 py-2 hover:bg-gray-700 rounded-md">Review</a>
            <a *ngIf="user.is_staff" href="/admin" target="_blank" class="px-4 py-2 hover:bg-gray-700 rounded-md">Admin</a>
            <span class="ml-4 mr-4">{{ user.first_name }} {{ user.last_name }}</span>
            <button (click)="logout()" class="px-4 py-2 bg-red-600 hover:bg-red-700 rounded-md">Logout</button>
        </ng-container>
      </div>
      <ng-template #showLogin>
        <a routerLink="/login" class="px-4 py-2 bg-indigo-600 hover:bg-indigo-700 rounded-md">Login</a>
      </ng-template>
    </div>
  </nav>
</header>

<main class="bg-gray-50 min-h-screen">
  <router-outlet></router-outlet>
</main> 