<div class="three-panel-container">
  <!-- Sidebar -->
  <div [class]="sidebarWidth + ' three-panel-sidebar'" class="flex flex-col">
    <!-- Sidebar Header -->
    @if (sidebarTitle || sidebarSubtitle) {
      <div class="three-panel-sidebar-header">
        @if (sidebarTitle) {
          <h1 class="three-panel-sidebar-title">{{ sidebarTitle }}</h1>
        }
        @if (sidebarSubtitle) {
          <p class="three-panel-sidebar-subtitle">{{ sidebarSubtitle }}</p>
        }
      </div>
    }
    
    <!-- Sidebar Content -->
    <div class="three-panel-sidebar-content">
      <ng-content select="[sidebar]"></ng-content>
    </div>
  </div>

  <!-- Detail Panel -->
  <div class="three-panel-detail h-full flex flex-col">
    <ng-content select="[detail]"></ng-content>
  </div>
</div>
